ENVIRONMENT=DEVELOPMENT
SYM_KEY=CvTVi4^Y4FFdA6Rj4T@K+XeQJBU931hY
BASE_PATH=/
APP_NAME=SlimeKit

# DATABASE
DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=
DB_CLIENT=pgsql

# CLOUDINARY
CLOUDINARY_URL=

# MAILJET SECTION
SMTP_HOST=mailjet-smtp-host
SMTP_USER=your-smtp-user
SMTP_PASS=your-smtp-pass
SMTP_PORT=587
MAIL_FROM=your-mail@example.com
MAIL_FROM_NAME="SlimeKit"

# CLOUDFLARE R2 SECTION
R2_REGION=auto
R2_ENDPOINT=https://xxxxxxxxxxxxxxxx.r2.cloudflarestorage.com
R2_ACCESS_KEY_ID=your-access-key-id
R2_SECRET_ACCESS_KEY=your-secret-access-key
R2_BUCKET=your-bucket-name

# VALKEY SECTION
VALKEY_SCHEME=tcp
VALKEY_HOST=
VALKEY_PORT=
VALKEY_USERNAME=
VALKEY_PASSWORD=

# CRONHOOKS
CRONHOOKS_API_KEY
CRONHOOKS_BASE_URL=
CRONHOOKS_CALLBACK=