gcp_project_id  = "<GCP_PROJECT_ID>"
gcp_region      = "<GCP_REGION>"
gcs_bucket_name = "<GCS_BUCKET_NAME>"
cloud_run_name  = "<CLOUD_RUN_NAME>"
image_tag       = "latest"
neon_api_key    = "<NEON_API_KEY>"
neon_db_name    = "<NEON_DB_NAME>"
neon_region     = "<NEON_REGION>"
cloudinary_url  = "<CLOUDINARY_URL>"
sym_key         = "<SYM_KEY>"
smtp_user       = "<SMTP_USER>"
smtp_pass       = "<SMTP_PASS>"