gcp_project_id       = "<GCP_PROJECT_ID>"
gcp_region           = "<GCP_REGION>"
gcs_bucket_name      = "<GCS_BUCKET_NAME>"
repo_name            = "<REPO_NAME>"
cloud_run_name       = "<CLOUD_RUN_NAME>"
image_tag            = "latest"
environment          = "<ENVIRONMENT>"
sym_key              = "<SYM_KEY>"
base_path            = "<BASE_PATH>"
app_name             = "<APP_NAME>"
neon_api_key         = "<NEON_API_KEY>"
neon_region          = "<NEON_REGION>"
db_name              = "<DB_NAME>"
db_port              = "<DB_PORT>"
db_client            = "<DB_CLIENT>"
cloudinary_url       = "<CLOUDINARY_URL>"
smtp_host            = "<SMTP_HOST>"
smtp_port            = "<SMTP_PORT>"
smtp_user            = "<SMTP_USER>"
smtp_pass            = "<SMTP_PASS>"
mail_from            = "<MAIL_FROM>"
mail_from_name       = "<MAIL_FROM_NAME>"
r2_region            = "<R2_REGION>"
r2_endpoint          = "<R2_ENDPOINT>"
r2_access_key_id     = "<R2_ACCESS_KEY_ID>"
r2_secret_access_key = "<R2_SECRET_ACCESS_KEY>"
r2_bucket            = "<R2_BUCKET>"
valkey_scheme        = "<VALKEY_SCHEME>"
valkey_host          = "<VALKEY_HOST>"
valkey_port          = "<VALKEY_PORT>"
valkey_username      = "<VALKEY_USERNAME>"
valkey_password      = "<VALKEY_PASSWORD>"
cronhooks_api_key    = "<CRONHOOKS_API_KEY>"
cronhooks_base_url   = "<CRONHOOKS_BASE_URL>"
cronhooks_callback   = "<CRONHOOKS_CALLBACK>"